body{
    background:transparent !important;
}
#login{
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#333333;
    border-radius:10px;
}
#loginBox{
    top:25px;
    position:relative;
    width:350px;
    margin:0 auto;
    text-align:center;
}
.loginIcon{
    max-width:50px;
    max-height:50px;
    padding:5px;
    margin-bottom:20px;
}
.loginTitle{
    font-size:20px;
    font-family:'Teachers',sans-serif;
    font-weight:500;
    margin-bottom:5px;
    color:#FFFFFF;
}
.loginBlurb{
    font-size:15px;
    font-family:'Teachers',sans-serif;
    font-weight:400;
    color:#EDEDED;
    margin-bottom:20px;
}
.loginField{
    width:250px;
    padding:14px;
    border-radius:8px;
    background:#222222;
    color:#FFFFFF;
    border:0;
    font-size:15px;
    font-family:'Teachers',sans-serif;
    font-weight:400;
    margin-bottom:10px;
}
.loginButton{
    width:270px;
    background:#86B5B5;
    color:#333333;
    padding:14px;
    border-radius:8px;
    border:0;
    font-family:'Teachers',sans-serif;
    font-weight:400;
    font-size:15px;
    cursor:pointer;
}