body{
    background:transparent;
}
#bar{
    /*left:250px !important;*/
}

#page_Paper{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#333333;
    border-radius:10px;
    overflow:hidden;
}

#paperRagButton{
    z-index:11;
    position:fixed;
    top:10px;
    right:20px;
    color:#DDDDDD;
    font-size:15px;
    padding:5px;
    cursor:pointer;
}

#paperSidebarToggle{
    z-index:11;
    position:fixed;
    top:10px;
    left:200px;
    font-size:15px;
    background:transparent;
    border:0;
    color:#CCCCCC;
    cursor:pointer;
    border-radius:5px;
    padding:4px;
}
#paperSidebarToggle:hover{
    background:#434343;
}

#paperList{
    position:absolute;
    top:0;
    left:0;
    width:250px;
    bottom:0;
    background:#222222;
}
#paperList::-webkit-scrollbar{
    display:none;
}
#paperListActions{
    position:absolute;
    top:0;
    left:0;
    width:250px;
    height:80px;
    text-align:center;
}
#paperListSearch{
    background:#111111;
    padding:10px;
    border-radius:20px;
    margin-bottom:10px;
    font-size:13px;
    font-family:'Nunito',sans-serif;
    color:#DDDDDD;
    border:0;
    outline:none;
    -webkit-appearance:none;
    width:200px;
    margin-top:40px;
}
#paperListTable{
    margin-top:100px;
    border-collapse:collapse;
}
#paperListTable tr:hover{
    background:#434343;
}
#paperListTable td:first-child{
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}
#paperListTable td:last-child:hover{
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
}
.paperListItem{
    font-family:'Nunito',sans-serif;
    font-size:15px;
    color:#DDDDDD;
    padding:10px;
    cursor:pointer;
}
.paperListItemOptions{
    font-size:17px;
    color:#EDEDED;
    border:0;
    cursor:pointer;
    visibility:hidden;
    background:transparent;
}
#paperListTable tr:hover .paperListItemOptions{
    visibility:visible;
}

/* */
.paperCell{
    padding:10px;
    margin-bottom:5px;
}
.paperCellBoxTitle{
    color:#EDEDED;
    font-size:25px;
    font-family:'Lora',serif;
    text-align:center;
}
.paperCellBoxHeading{
    color:#EDEDED;
    font-size:22px;
    font-family:'Lora',serif;
    margin-top:15px;
}
.paperCellBoxSubheading{
    color:#EDEDED;
    font-size:15px;
    font-weight:bold;
    font-family:'Lora',serif;
    margin-top:5px;
}
.paperCellBoxParagraph{
    color:#EDEDED;
    font-size:15px;
    font-family:'Lora',serif;
}
.paperCellBoxQuote{
    color:#EDEDED;
    font-size:15px;
    font-family:'Lora',serif;
    text-align:center;
    font-style:italic;
    background:#434343;
    border-radius:8px;
    padding:10px;
}
.paperCellBoxImage{
    max-width:500px;
    max-height:250px;
}
.paperCellBoxVideo{
    width:100%;
}
.paperCellBoxAudio{
    width:100%;
}
.paperCellBoxCode{
    border-radius:10px;
    border:1px solid #444444;
}
.paperCellBoxFormula{
    color:#EDEDED;
    text-align:center;
}
.paperCellOptionButton{
    background:transparent;
    border:0;
    color:#999999;
    cursor:pointer;
}
.paperCellOptionButton:hover{
    color:#DDDDDD;
}
.paperCellOptionButtonRemove:hover{
    color:#E83A3A !important;
}
/* */
.paperContextMenuItem{
    color:#EDEDED;
    padding:8px;
    font-size:17px;
    cursor:pointer;
}

#paperComposer{
    position:absolute;
    top:0;
    right:0;
    left:250px;
    bottom:0;
}
#composerActionBox{
    position:absolute;
    top:40px;
    left:20px;
    right:20px;
    margin-bottom:55px;
}
#composerFileName{
    background:#222222;
    color:#FFFFFF;
    border:1px solid #222222;
    padding:10px;
    font-family:'Teachers',sans-serif;
    font-size:15px;
    border-radius:8px;
    width:200px;
}
.composerActionButton{
    background:rgba(90,90,90,0.8);
    border:0;
    backdrop-filter:blur(7px);
    -webkit-backdrop-filter:blur(7px);
    padding:10px;
    font-family:'Teachers',sans-serif;
    font-size:14px;
    border-radius:8px;
    color:#DDDDDD;
    margin-left:15px;
    cursor:pointer;
}
.composerActionButtonPrimary{
    background:#86B5B5;
    color:#222222;
}
#composerEditBox{
    position:absolute;
    top:90px;
    left:20px;
    right:20px;
    margin-bottom:55px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    border-radius:40px;
    background:rgba(91,91,91,0.7);
    backdrop-filter:blur(7px);
    -webkit-backdrop-filter:blur(7px);
    padding:10px;
}
.composerEditButton{
    background:transparent;
    color:#CCCCCC;
    font-size:18px;
    border:0;
    padding:15px;
    cursor:pointer;
}

#composerContentBox{
    position:absolute;
    left:20px;
    right:20px;
    top:180px;
    bottom:20px;
    padding:20px;
    outline:none;
    font-size:14px;
    overflow-x:hidden;
    overflow-y:auto;
    border-radius:20px;
    background:rgba(41,41,41,0.7);
    border:1px solid #555555;
}
#composerContentBox::-webkit-scrollbar{
    display:none;
}


#viewerContentBox{
    color:#FFFFFF;
    font-family:'Lora',sans-serif;
    overflow:hidden;
    text-align:center;
    background:rgba(41,41,41,0.7);
    border:1px solid #555555;
    backdrop-filter:blur(7px);
    -webkit-backdrop-filter:blur(7px);
}
#viewerContent{
    height:475px;
    object-fit:cover;
}