#page_Todo{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#333333;
    border-radius:10px;
    overflow:hidden;
}

#todoList{
    position:absolute;
    top:0;
    left:0;
    width:400px;
    bottom:0;
    background:#222222;
}
#todoListTitle{
    position:absolute;
    top:20px;
    left:40px;
    right:40px;
    font-family:'Teachers',sans-serif;
    font-size:14px;
    color:#86B5B5;
    text-align:center;
}
#todoListRagButton{
    position:absolute;
    top:20px;
    left:320px;
    color:#DDDDDD;
    font-size:15px;
    padding:5px;
    cursor:pointer;
}
#todoListAdd{
    position:absolute;
    top:20px;
    left:360px;
    background:transparent;
    font-size:15px;
    padding:5px;
    border-radius:5px;
    color:#CCCCCC;
    border:0;
    -webkit-appearance:none;
    outline:none;
    cursor:pointer;
}
#todoListAdd:hover{
    color:#DDDDDD;
    background:#333333;
}
#todoListBox{
    position:absolute;
    top:50px;
    left:50px;
    right:50px;
    bottom:10px;
    overflow-y:auto;
}
#todoListBox::-webkit-scrollbar{
    display:none;
}
#todoListTable{
    border-collapse:collapse;
}
.todoListItemCheckbox{
    border-radius:8px;
    padding:8px;
    border:1px solid #555555;
    height:25px;
    width:25px;
    cursor:pointer;
}
.todoListItemCheckbox:checked{
    background:#86B5B5;
    border:1px solid #86B5B5;
}
.todoListItemText{
    background:transparent;
    padding:10px;
    border:0;
    border-radius:8px;
    font-family:'Nunito',sans-serif;
    font-size:15px;
    color:#DDDDDD;
    -webkit-appearance:none;
    outline:none;
}
.todoListItemOpt{
    font-size:17px;
    color:#EDEDED;
    border:0;
    cursor:pointer;
    visibility:hidden;
    background:transparent;
}
#todoListTable tr:hover .todoListItemOpt{
    visibility:visible;
}

#todoListAddTable{
    border-collapse:collapse;
}
.todoListItemAddText{
    background:#333333;
    padding:10px;
    border:0;
    border-radius:8px;
    font-family:'Nunito',sans-serif;
    font-size:15px;
    color:#DDDDDD;
    -webkit-appearance:none;
    outline:none;
    margin-right:5px;
}
.todoListItemAddButton{
    background:#111111;
    border:0;
    padding:8px;
    border-radius:7px;
    color:#999999;
    font-size:14px;
    font-family:'Nunito',sans-serif;
    cursor:pointer;
}
.todoListItemAddClose{
    font-size:17px;
    color:#EDEDED;
    border:0;
    cursor:pointer;
    visibility:hidden;
    background:transparent;
}
#todoListAddTable tr:hover .todoListItemAddClose{
    visibility:visible;
}

#todoCalendar{
    position:absolute;
    top:0;
    left:400px;
    right:0;
    bottom:0;
}
#todoCalendarOptions{
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:50px;
}
#todoCalendarOptionsSelect{
    background:#222222;
    border:0;
    padding:10px;
    width:100px;
    border-radius:8px;
    font-family:'Nunito',sans-serif;
    font-size:14px;
    color:#DDDDDD;
    -webkit-appearance:none;
    outline:none;
    cursor:pointer;
    margin:5px;
    background-image:url("../../../src/src/icons/dropdown.png");
    background-size:18px 18px;
    background-position:75px 8px;
    background-repeat:no-repeat;
}
#todoCalendarGrid{
    position:absolute;
    top:50px;
    left:0;
    right:0;
    bottom:0;
    overflow-y:auto;
    overflow-x:hidden;
}
#todoCalendarGrid::-webkit-scrollbar{
    display:none;
}




#calendarHeader{
    position:fixed;
    top:100px;
    left:0;
    right:0;
    height:50px;
    overflow:auto;
    background:#222222;
}
.calendarHeaderItem{
    width:35px;
    height:35px;
    color:#FFFFFF;
    border:0;
    padding:9px;
    text-align:center;
}
.calendarHeaderItemDay{
    font-size:14px;
    font-weight:700;
}

.calendarYearBreak{
    margin-top:10px;
    margin-bottom:10px;
    height:5px;
    width:100%;
    background:#333333;
}
.calendarMonth{
    width:100%;
    text-align:left;
    font-size:14px;
    font-weight:700;
    padding:7px;
    color:#DDDDDD;
    background:#333333;
    font-family:'Teachers',sans-serif;
}
.calendarTable{
    margin-bottom:30px;
}
.calendarItem{
    width:35px;
    height:35px;
    color:#CCCCCC;
    border:1px solid transparent;
    padding:8px;
    background:transparent;
    border-radius:6px;
    cursor:pointer;
}
.calendarItemDot{
    color:transparent;
    font-size:10px;
    margin-left:2px;
}
.calendarItemDay{
    font-size:14px;
    font-weight:600;
    font-family:'Kanit',sans-serif;
}
.calendarItemMonth{
    font-size:10px;
    font-weight:300;
    font-family:'Kanit',sans-serif;
    text-transform:uppercase;
}
/* */
.calendarItemActive{
    background:#c3ff8c;
    color:#222222;
    width:35px;
    height:35px;
    border:0;
    padding:7px;
}